/ attr_accessible :first, :last, :email, :password_confirmation, :password, :is_female, :occupation, :sign_ins, :age, :ed_level, :movies, :books, :television, :hobbies, :description, :tagline, :interested_female
.row
  .large-6.columns
    %h1= "#{@user.first} #{@user.last}"
  .large-6.columns
