%h1 Welcome to AlrightValentine

%p Readymade selfies fingerstache kitsch lo-fi bicycle rights. Asymmetrical sartorial sriracha, tumblr Truffaut gentrify Tonx fixie pour-over. Freegan pug tumblr, art party before they sold out Etsy dreamcatcher. Banjo dreamcatcher sartorial, plaid asymmetrical brunch freegan sriracha fashion axe cray. Brunch plaid polaroid VHS swag Neutra. IPhone pop-up try-hard disrupt synth asymmetrical. Pour-over raw denim semiotics meh, small batch Tonx ennui kale chips helvetica aesthetic.

.row
  .large-12.columns#home-holder
    #browse.make-left
      =link_to("Browse Singles", "#", :class => "button radius large alert")
      %p Banjo dreamcatcher sartorial, plaid asymmetrical brunch freegan sriracha fashion axe cray. Brunch plaid polaroid VHS swag Neutra. IPhone pop-up try-hard disrupt synth asymmetrical. Pour-over raw denim semiotics meh, small batch Tonx ennui kale chips helvetica aesthetic.
    #search.make-left
      =link_to("Search for Singles", "#", :class => "button radius large alert")
      %p eadymade selfies fingerstache kitsch lo-fi bicycle rights. Asymmetrical sartorial sriracha, tumblr Truffaut gentrify Tonx fixie pour-over. Freegan pug tumblr, art party before they sold out Etsy dreamcatcher.